.button {
    cursor: pointer;
    color: var(--primary-color)
}


.clear {
    padding: 0;
    border: none;
    background: none;
    margin: 0;
    outline: none;
}

.outline {
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 15px;
}
