.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s ease-in-out;
}

.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.collapseBtn {
    position: absolute;
    right: -40px;
    bottom: 0;
    transform: translate(0, -50%);
}


.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.link {
    margin-top: 10px;
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--secondary-color);
}

.item {
    display: flex;
    align-items: center;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity ease-in-out;
        width: 0;
    }
}