.appDarkTheme {
    --bg-color: #0C1214;
    --inverted-bg-color: #151C1F;
    --primary-color: #DBDBDB;
    --secondary-color: #555;
    --inverted-primary-color: #555;
    --inverted-secondary-color: #DBDBDB;
    --icon-color: #74A2B2;
    --hint-color: #555;
    --cancel-color: #D95757;
    --save-color: #6CD98B;
    --accent-color: #5ED3F3;
}