.appDarkTheme {
    --bg-color: #0C1214;
    --inverted-bg-color: #151C1F;
    --primary-color: #DBDBDB;
    --secondary-color: #555;
    --inverted-primary-color: #555;
    --inverted-secondary-color: #DBDBDB;
}