.app.light {
    --bg-color: #FFF;
    --inverted-bg-color: #D5E7DC;
    --primary-color: linear-gradient(180deg, #2d932c 0%, #000 100%);
    --secondary-color: #000;
    --inverted-primary-color: #2d932c;
    --inverted-secondary-color: #000;

}