.app.light {
    --bg-color: #FFF;
    --inverted-bg-color: #D5E7DC;
    --primary-color: #2d932c;
    --secondary-color: #000;
    --inverted-primary-color: #3BCC38;
    --inverted-secondary-color: #000;

}