.appLightTheme {
    --bg-color: #EFF5F6;
    --inverted-bg-color: #E2EEF1;
    --primary-color: #141C1F;
    --secondary-color: #4daac6;
    --inverted-primary-color: #4daac6;
    --inverted-secondary-color: #141C1F;
    --icon-color: #5ED3F3;
    --hint-color: #ADBCC0;
    --cancel-color: #F77;
    --save-color: #62DE85;
    --accent-color: #00C8FF;
}